.structure-block{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 45px;
}
#structure{
    padding: 25px 0;
}
.structure-block h2, .structure-tree{
    margin: 15px 0;
}

.three-trees{
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80%;
}

.tree-line-block{
    display: flex;
    justify-content: center;
    width: 888px;
    flex-wrap: wrap;
    margin-top: 20px
}
.tree-line{
    border: 1px solid #dddddd;
    margin: 0 120px;
}
.line-horizontal{
    width: 98%;
    transform: translate(0, 5px);
}
.line-vertical{
    width: 50px;
    transform: rotate(90deg) translate(30px);
}

.structure-tree{
    margin-top: 55px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid #dddddd;
    width: 30%;
}

.structure-tree h3{
    margin: 15px;
}

.structure-img{
    height: 128px;
    width: 128px;
}

.structure-tree p{
    margin: 5px;
}