*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #dddddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

body{background-color: #161616}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

.header{
    top: 0;
    width: 100%;
    padding: 15px;
    position: fixed;
    box-shadow: 0 0 10px 2px black;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    height: 64px;
    width: 64px;
}
.menu-list{
    display: flex;
}
.menu-item{
    margin: 0 10px;
    font-size: large;
    transition: 0.3s;
}.menu-item:hover{
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}



section{
    margin: 100px 0;
}


.hero{
    margin: 200px 0;
    text-align: center;
}
.quote{
    font-size: 18px;
    font-style: italic;
}
.quote-author{
    margin: 15px 0 0 75%;
}