.header{
    top: 0;
    width: 100%;
    padding: 15px;
    position: fixed;
    box-shadow: 0 0 10px 2px black;
    background-color: #161616;
}
.header-inner{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-logo{
    cursor: pointer;
    transition: 0.3s ease;
    height: 64px;
    width: 64px;
}
.header-logo:hover{
    filter: brightness(50%);
}
.menu-list{
    display: flex;
}
.menu-item{
    margin: 0 10px;
    font-size: 20px;
    transition: 0.3s;
    border-bottom: 1px solid #161616;
}.menu-item:hover{
    color: #ff0000;
    border-bottom: 1px solid #ff0000;
}



@media (max-width: 1250px){
    .header{display: none}
}