.hero-inner{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
}

.quote-symbol{
    font-size: 128px;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    opacity: 5%;
}
.high{
    top: 30%;
    left: 30%;
}
.low{
    top: 70%;
    right: 30%;
}

.quote-img{
    position: absolute;
    opacity: 2%;
}

@media (max-height: 600px){
    .quote-img{
        width: 350px;
        height: 350px;
    }
}
@media (max-height: 900px){
    .high{
        top: 20%;
    }
}
@media (max-width: 600px){
    .quote-img{
        width: 350px;
        height: 350px;
    }
    .high{
        top: 35%;
    }
}
@media (max-width: 1250px){
    .hero-inner{
        margin-top: -10%;
    }
    .high{
        /* top: 20%; */
        left: 15%;
    }
    .low{
        top: 60%;
        right: 15%;
    }
}