.hero-inner{
    position: relative;
    height: 100vh;
    padding: 0;
}
.quote{
    margin-top: 30%;
    font-size: 18px;
    font-style: italic;
    text-align: center;
}
.quote-author{
    position: absolute;
    top: 40%;
    left: 75%;
    opacity: 0;
}
.high-quote-symbol{
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 128px;
    color: #1f1f1f;
    left: 20%;
    bottom: 100%;
}.low-quote-symbol{
    user-select: none;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
    font-size: 128px;
    color: #1f1f1f;
    right: 20%;
}
.quote-img{
    position: absolute;
    user-select: none;
    opacity: 2%;
    transform: translate(-50%, -50%);
    top: 5%;
    left: 50%;
    max-width: 640px;
    max-height: 640px;
}