*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #dddddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

html{scroll-behavior: smooth}

body{
    background-color: #161616;
}

.container{
    display: flex;
    justify-content: center;
    max-width: 1200px;
    margin: 0 auto;
}

section{
    padding-bottom: 20px;
    margin: 100px 0;
}

.linkID{
    margin: -100px 0;
}