*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    color: #dddddd;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    list-style: none;
}

html{scroll-behavior: smooth}

body{background-color: #161616}

.container{
    max-width: 1200px;
    margin: 0 auto;
}

section{
    padding-bottom: 20px;
    /* border-bottom: 1px solid #1f1f1f; */
    margin: 100px 0;
}